# Week 3 - Training a model using scikit-learn
In this example we will train a model using scikit-learn. 

First we will prepare the data for scikit-learn. We will focus on
- Replacing or removing NaNs
- Removing columns not needed when training the model

For the purpose of this example we will not do any feature engineering.

In [1]:
import pandas as pd
import numpy as np

## Load the data

In [2]:
df_train = pd.read_csv("data/titanic.csv", encoding='utf-8-sig')
df_train.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,False,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,True,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,True,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,True,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,False,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Remove columns

In [3]:
to_drop = ['PassengerId', 'Name', 'Cabin', 'Ticket', 'Cabin']
df_train.drop(to_drop, inplace=True, axis=1)

## Prepare remaining data for scikit-learn

In [4]:
df_train.dtypes

Survived       bool
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [5]:
# Replace string by integers
df_train['Sex'] = df_train['Sex'].map({'male': 0, 'female': 1})

In [6]:
# Replace NaNs with 0.0
df_train['Age'] = df_train['Age'].fillna(0.0)
df_train['Age'] = df_train['Age'].astype(int)

In [7]:
df_train['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [8]:
# Replace string by integers
df_train['Embarked'] = df_train['Embarked'].fillna('Other')
df_train['Embarked'] = df_train['Embarked'].map({'S': 0, 'C': 1, 'Q': 2, 'Other': 3})

In [9]:
df_train.dtypes

Survived       bool
Pclass        int64
Sex           int64
Age           int64
SibSp         int64
Parch         int64
Fare        float64
Embarked      int64
dtype: object

In [10]:
# Remove rows with NaNs
df_train.dropna(subset=['Fare'], inplace=True)

## Training a model
In this example we will train a Random Forest classifier.

In [11]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Split data into training and validation:

In [12]:
predictors = df_train.drop("Survived", axis=1)
target = df_train["Survived"]

x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.20, random_state = 0)

Train the model:

In [13]:
randomforest = RandomForestClassifier(n_estimators=100)
randomforest.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

What is the accuracy?

In [14]:
y_pred = randomforest.predict(x_val)
round(accuracy_score(y_pred, y_val) * 100, 2)

83.24